* {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

:root {
  /* h1 */
  --HeaderColor: #000000;
  /* .calc-box */
  --BoxBG: #ffffff;
  --BoxShadow: #000000;
  /* Button */
  --ButtonBG: #0f6a3f;
  --ButtonBGHover: #525252;
  --ButtonColor: #ffffff;
  --ButtonColorHover: #eaeaea;
  --ButtonBorder: #413f3f;
  /* .digits */
  --DigitBG: #23a732;
  --DigitBGHover: #525252;
  --DigitBorder: #413f3f;
  /* .output */
  --OutputBG: #d3d3d3;
  --OutputShadow: #87da93;
  --OutputBorder: #413f3f;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  /* Gradient Background */
  /* https://uigradients.com/#Selenium */
  background: #3c3b3f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    0deg,
    #3c3b3f,
    #605c3c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    0deg,
    #3c3b3f,
    #605c3c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 12px;
  font-size: 24px;
  text-align: center;
  color: var(--HeaderColor);
}

.calc-box {
  background-color: var(--BoxBG);
  box-shadow: 0px 0px 25px var(--BoxShadow);
  padding: 20px;
  margin: 50px auto;
  width: 312px; /*width of box */
  border-radius: 8px;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: var(--ButtonBG);
  color: var(--ButtonColor);
  border: 0.5px solid var(--ButtonBorder);
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: 1px;
  border-radius: 4px;
  transition: all 250ms ease-in-out;
}

button:hover {
  background-color: var(--ButtonBGHover);
  color: var(--ButtonColorHover);
}

.digits button {
  background-color: var(--DigitBG);
  height: 50px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border: 0.5px solid var(--DigitBorder);
}
.digits button:hover {
  background-color: var(--DigitBGHover);
}

.output {
  height: 50px;
  box-shadow: inset 0px 0px 20px var(--OutputShadow);
  padding-right: 2%;
  text-align: left;
  font-size: 30px;
  display: flex;
  opacity: 46.5%;
  background-color: var(--OutputBG);
  border: 1px solid var(--OutputBorder);
  flex-direction: column;
  margin: 5px 0px;
  border-radius: 4px;
}

.buttons .Hidden {
  color: #00000000;
  background-color: #00000000;
  border: none;
  cursor: default;
}

.buttons .Hidden:hover {
  color: #00000000;
  background-color: #00000000;
  border: none;
}